<%= form_for(task) do |f| %>
  <% if task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
      <% task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mx-1 my-2">
    <%= f.label :name, class: 'text-gray-700 text-sm' %>
    <br />
    <%= f.text_field :name, class: 'px-2 py-1 border-gray-900 border bg-gray-100 text-md text-gray-800 rounded-md' %>
  </div>

  <div class="mx-1 my-2">
    <%= f.label :description, class: 'text-gray-700 text-sm' %>
    <br />
    <%= f.text_field :description, class: 'px-2 py-1 border-gray-900 border bg-gray-100 text-md text-gray-800 rounded-md' %>
  </div>
  
  <div class="mx-1 my-2">
    <%= f.label :created_at, class: 'text-gray-700 text-sm' %>
    <br />
    <%= f.datetime_select :created_at, class: 'px-2 py-1 border-gray-900 border bg-gray-100 text-md text-gray-800 rounded-md' %>
  </div>
  
  <div class="mx-1 my-2">
    <%= f.label :due_by, class: 'text-gray-700 text-sm' %>
    <br />
    <%= f.datetime_select :due_by, class: 'px-2 py-1 border-gray-900 border bg-gray-100 text-md text-gray-800 rounded-md' %>
  </div>
  
  <div class="mx-1 my-2">
    <%= f.label :complete, class: 'text-gray-700 text-sm' %>
    <%= f.check_box :complete %>
  </div>
  
  <div class="mx-1 my-2">
    <%= f.select :task_lists_id, options_for_select(@task_lists.map{ |task_list| [task_list.name, task_list.id]}, class: 'text-md leading-normal tracking-normal'), class: 'w-64 px-2 py-1 border-gray-900 border bg-gray-100 text-md text-gray-800 rounded-md' %>
  </div>
  
  <%= f.submit "Save", class: 'flex-shrink m-1 px-2 py-1 bg-gray-300 rounded-md text-md text-gray text-center'%>
<% end %>
